<div class="row">
<div class="col-xs-3">
{{link-to "Recipes" "recipes"}}
  {{#each model as |recipe|}}
    <p>{{link-to recipe.name 'recipes.recipe' recipe}}</p>
  {{/each}}
</div>


<div class="col-xs-9">
  {{outlet}}
</div>

</div>
