<div class='container'>
<div class='row'>
  {{link-to "Recipes" "recipes"}}
  {{link-to 'New Recipe' 'recipes.new'}}
</div>
<div class="row">
<div class="col-xs-3">
  {{#each model as |recipe|}}
    <p>{{link-to recipe.name 'recipes.recipe' recipe}}</p>
  {{/each}}
</div>


<div class="col-xs-9">
  {{outlet}}
</div>

</div>
</div>